<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.barcode_scanner_plugin">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <application
        android:label="deep_plant_app"
        android:icon="@mipmap/ic_launcher">

        <!-- 다른 요소들 -->

        

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app.dsic.barcodetray.BARCODE_BR_DECODING_DATA"/>
            </intent-filter>
        </receiver>

        <!-- 다른 요소들 -->

    </application>

</manifest>
